tests/org.jboss.tools.ws.ui.bot.test/resources/jbossws/ClassB.wsdl

<definitions name="{1}Service" targetNamespace="http://{0}/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://{0}/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <types>
  <xs:schema targetNamespace="http://{0}/" version="1.0" xmlns:tns="http://{0}/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="method" type="tns:method"/>
   <xs:element name="methodResponse" type="tns:methodResponse"/>
   <xs:complexType name="method">
    <xs:sequence/>
   </xs:complexType>
   <xs:complexType name="methodResponse">
    <xs:sequence>
     <xs:element name="return" type="xs:int"/>
    </xs:sequence>
   </xs:complexType>
  </xs:schema>
 </types>
 <message name="{1}_methodResponse">
  <part element="tns:methodResponse" name="methodResponse"></part>
 </message>
 <message name="{1}_method">
  <part element="tns:method" name="method"></part>
 </message>
 <portType name="{1}">
  <operation name="method" parameterOrder="method">
   <input message="tns:{1}_method"></input>
   <output message="tns:{1}_methodResponse"></output>
  </operation>
 </portType>
 <binding name="{1}Binding" type="tns:{1}">
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="method">
   <soap:operation soapAction=""/>
   <input>
    <soap:body use="literal"/>
   </input>
   <output>
    <soap:body use="literal"/>
   </output>
  </operation>
 </binding>
 <service name="{1}Service">
  <port binding="tns:{1}Binding" name="{1}Port">
   <soap:address location="http://localhost:8080/JbossWS/{1}"/>
  </port>
 </service>
</definitions>