tests/org.jboss.tools.bpel.ui.bot.test/projects/DiscriminantProcess/bpelContent/DiscriminantArtifacts.wsdl

<?xml version="1.0"?>
<definitions name="Discriminant"
	         targetNamespace="http://www.jboss.org/bpel/examples"
	         xmlns:tns="http://www.jboss.org/bpel/examples"
	         xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
	         xmlns="http://schemas.xmlsoap.org/wsdl/" 
	         xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    
    <types>
        <schema attributeFormDefault="unqualified" 
        		elementFormDefault="qualified" 
                targetNamespace="http://www.jboss.org/bpel/examples" 
                xmlns="http://www.w3.org/2001/XMLSchema">

            <element name="DiscriminantRequest">
                <complexType>
                    <sequence>
                        <element name="a" type="decimal"/>
                        <element name="b" type="decimal"/>
                        <element name="c" type="decimal"/>
                    </sequence>
                </complexType>
            </element>

            <element name="DiscriminantResponse">
                <complexType>
                    <sequence>
                        <element name="result" type="int"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </types>

    <message name="DiscriminantRequestMessage">
        <part name="parameters" element="tns:DiscriminantRequest"/>
    </message>
    <message name="DiscriminantResponseMessage">
        <part name="parameters" element="tns:DiscriminantResponse"/>
    </message>

    <portType name="Discriminant">
        <operation name="calculateDiscriminant">
            <input  message="tns:DiscriminantRequestMessage" />
            <output message="tns:DiscriminantResponseMessage"/>
        </operation>
    </portType>
  
    <plnk:partnerLinkType name="Discriminant">
        <plnk:role name="DiscriminantProvider" portType="tns:Discriminant"/>
    </plnk:partnerLinkType>
    
    <binding name="DiscriminantBinding" type="tns:Discriminant">
    	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    	<operation name="calculateDiscriminant">
    		<soap:operation soapAction="http://www.jboss.org/bpel/examples/process" />
    		<input>
	   			<soap:body use="literal" />
    		</input>
    		<output>
	   			<soap:body use="literal" />
    		</output>
    	</operation>
    </binding>

    <service name="DiscriminantService">
    	<port name="DiscriminantPort" binding="tns:DiscriminantBinding">
    		<soap:address location="http://localhost:8080/DiscriminantProcess" />
    	</port>
    </service>
</definitions>
